.app {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.gameLine {
  background-color: #d1e7b7;
  padding: 20px;
  margin: 10px
}

.logo {
  height: 175px
}

.away {
  background-color: #ff6c70;
  padding: 10px;
  margin-left: 500px;
  margin-right: 500px
}

.home {
  background-color: #81d4fa;
  padding: 10px;
  margin-left: 500px;
  margin-right: 500px
}

.time {
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 20px
}

.sad {
  height: 400px
}

.nav {
  font-size: 25px;
  color: white;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #81d4fa;
  text-align: center;
}

.navLogo {
  height: 25px
}

table, th, .quarters, td {
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 10px;
  border: 1px solid Blue;
  font-size: 25px;
}

.quarter-section {
  background-color: #d1e7b7;
  margin-left: 600px;
  margin-right: 600px;
  font-size: 25px;
  padding: 10px
}
.score-summary {
  background-color: #FFCCCB;
  margin-left: 550px;
  margin-right: 550px;
  font-size: 30px;
  padding: 10px;
  margin-bottom: 20px;
}

.box-score {
  font-size: 25px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  background-color: #f2e4fd;
  margin-left: 700px;
  margin-right: 700px;
}


.player-stats, .team-stats, .score-summary, .quarter-section {
  text-align: center;
}

td {
  padding: 5px
}

.team-stats {
  background-color: #FDE589;
}

.player-stats {
  background-color: #81d4fa;
}

.box-score-page {
  background-color: #FFCCCB;
}

.main-section { grid-area: header; }
.menu { grid-area: menu; }
.main { grid-area: main; }
.right { grid-area: right; }
.item5 { grid-area: footer; }

.grid-container {
  display: grid;
  grid-template-areas:
    'header'
    'menu menu menu menu menu menu'
    'main main main main main main'
    'right, right, right, right, right, right';
  gap: 10px;
  background-color: #2196F3;
  padding: 10px;
}

.grid-container > div {
  background-color: rgba(255, 255, 255, 0.8);
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}